.smContainer {
  height: 90vh;
  overflow: scroll;
}

.header {
  margin: 20px 0;
  text-align: center;
}

.button {
  background-color: #f2f2f2;
  border-radius: 10px;
  color: rgba(0, 1, 127, 0.7);
  cursor: pointer;
  display: inline-block;
  font-size: 24px;
  margin: 5px;
  padding: 20px 0;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  width: 19%;
}

a.isDisabled:hover {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.isDisabled {
  background-color: #a1a1a1;
  color: #f9f9f9;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
